@import "../variables";
@import "../typography";
@import "../responsive";

.cost_input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  label {
    margin-right: 9px;
    margin-bottom: 0 !important;
  }

  input {
    padding: 0px 12px !important;
    max-width: 150px !important;
    margin-right: 16px !important;
    font-size: 14px;
  }
}

.cost {
  display: flex;
  align-items: center;
  gap: 12px;

  .cost_currency {
    display: flex;
    min-width: fit-content;

    label {
      margin-left: 8px;
      color: $slate-900;
      transition: color 0.3s ease;

      @include typography(14px, 500, 20px, 0em, left);
    }
  }
}

.expire_check {
  display: flex;
  min-width: fit-content;

  label {
    margin-left: 8px;
    color: $slate-900;
    transition: color 0.3s ease;

    @include typography(14px, 500, 20px, 0em, left);
  }
}

.expire {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .expire__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
}

.actions__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 12px;
}

.payment__card {
  .payment__actions {
    display: flex;
    align-items: center;
    gap: 12px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      label {
        margin-right: 9px;
        margin-bottom: 0 !important;
      }
    }

    input {
      padding: 0px 12px !important;
      max-width: 150px !important;
      margin-right: 16px !important;
      font-size: 14px;
    }
  }

  .content__total_payment {
    display: flex;
    align-items: baseline;

    .price {
      color: $gray-900;
      margin-right: 4px;

      @include typography(36px, 500, 44px, -0.02em, left);
    }

    .description {
      color: $gray-600;

      @include typography(16px, 400, 24px, 0em, left);

      span {
        color: $red-700 !important;
        padding-left: 12px;
      }
    }
  }

  .content__payments {
    margin: 16px 0;

    .payments__title {
      color: $gray-700;
      margin-right: 20px;

      @include typography(16px, 400, 24px, 0em, left);
    }

    .students__payments {
      position: relative;
      list-style: none;
      padding-left: 1.2em;

      .payment {
        color: $gray-800;
        display: flex;
        align-items: center;

        @include typography(16px, 600, 24px, 0em, left);

        &::before {
          content: "•";
          position: absolute;
          left: 0;
        }

        button {
          padding: 0;
          margin-left: 10px;
          height: 23px;

          svg {
            scale: 0.8;
          }
        }
      }
    }

    .payments__form {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 10px;
      column-gap: 10px;
      margin-top: 16px;

      @include responsive(tablet) {
        grid-template-columns: 1fr 1fr;
      }

      @include responsive(pc) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      & > button {
        justify-content: center;
        height: fit-content;
        align-self: flex-end;
      }

      & > button,
      input {
        padding: 6px 14px;
      }
    }
  }

  .content__info {
    margin-top: 9px;

    .info__main,
    .info__second {
      color: $gray-500;

      @include typography(16px, 400, 24px, 0em, left);
    }

    .info__second {
      font-weight: 600;
    }
  }
}
