@import "../variables";
@import "../typography";
@import "../responsive";

.forgot_password {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .forgot_password__success {
    text-align: center;

    .success__title {
      color: $gray-900;

      @include typography(30px, 600, 38px, 0, center);
    }

    .success__description {
      color: $gray-500;
      margin: 16px 0;

      @include typography(16px, 400, 24px, 0, center);

      span {
        font-weight: 600;
      }
    }

    .success__more {
      color: $gray-600;

      @include typography(16px, 600, 24px, 0, center);
    }

    .success__link {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-500;
      margin-top: 16px;

      svg {
        margin-right: 10px;
      }
    }
  }

  .forgot_password__from {
    max-width: 90vw;
    min-width: 90vw;
    flex: 1;
    width: 100%;
    display: grid;
    row-gap: 16px;
    text-align: center;

    @include responsive(mobile-large) {
      max-width: 80vw;
      min-width: 80vw;
    }

    @include responsive(tablet) {
      max-width: 60vw;
      min-width: 60vw;
    }

    @include responsive(pc-small) {
      max-width: 50vw;
      min-width: 50vw;
    }

    @include responsive(pc) {
      max-width: 40vw;
      min-width: 40vw;
    }

    @include responsive(pc-large) {
      max-width: 25vw;
      min-width: 25vw;
    }

    .form__title {
      color: $gray-900;

      @include typography(30px, 600, 38px, 0, center);
    }

    .form__description {
      color: $gray-500;
      margin-bottom: 16px;

      @include typography(16px, 400, 24px, 0, center);
    }

    button {
      justify-content: center;
    }

    .form__link {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-500;

      svg {
        margin-right: 10px;
      }
    }
  }
}
