@import "../../variables";
@import "../../typography";

.notification {
  border-radius: $border-radius;
  border: 1px solid $gray-100;
  box-shadow: 0px 4px 6px -2px #10182808;
  box-shadow: 0px 12px 16px -4px #10182814;
  display: grid;
  grid-template-columns: 32px auto 32px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 24px;
  z-index: 2;
  background-color: white;
  padding: 16px;
  max-width: 400px;
  transition: visibility 0.3s ease, opacity 0.3s ease;

  &__visible {
    visibility: visible;
    opacity: 1;
  }

  &__hidden {
    visibility: hidden;
    opacity: 0;
  }

  &__danger {
    .notification__icon {
      background-color: $red-100;
      box-shadow: 0px 0px 0px 4px $red-50;

      svg {
        color: $red-600;
      }
    }
  }

  &__success {
    .notification__icon {
      background-color: $green-100;
      box-shadow: 0px 0px 0px 4px $green-50;

      svg {
        color: $green-600;
      }
    }
  }

  &__warning {
    .notification__icon {
      background-color: $yellow-100;
      box-shadow: 0px 0px 0px 4px $yellow-50;

      svg {
        color: $yellow-600;
      }
    }
  }

  .notification__icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .notification__content {
    margin: 0 16px;

    .content__title {
      color: $gray-900;
      margin-bottom: 4px;

      @include typography(16px, 500, 20px, 0, left);
    }

    .content__description {
      color: $gray-500;

      @include typography(16px, 400, 20px, 0, left);
    }
  }

  .notification__action {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: auto;

    svg {
      color: $gray-500;
    }
  }
}
