@import "../../variables";
@import "../../typography";
@import "../../responsive";

.container {
  background-color: white;
  border: 1px solid $gray-200;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px #1018280f, 0px 1px 3px 0px #1018281a;

  .table__header {
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;

    @include responsive(tablet) {
      align-items: center;
      flex-direction: row;

      .table__title {
        margin-bottom: 0px !important;
      }
    }

    .table__title {
      color: $gray-900;
      margin-bottom: 16px;

      @include typography(18px, 500, 28px, 0, left);
    }
  }

  .table__wrapper {
    overflow-x: auto;

    .table {
      width: 100%;
      white-space: nowrap;

      thead {
        background-color: $gray-50;

        th {
          padding: 13px 24px;
          border-bottom: 1px solid $gray-200;
          border-top: 1px solid $gray-200;
          color: $gray-500;

          @include typography(12px, 500, 18px, 0, left);
        }
      }

      tbody {
        background-color: white;

        tr {
          border: 1px solid $gray-200;

          &:last-child {
            td {
              border-bottom: none;
            }
          }

          td {
            padding: 16px 24px;
            border-bottom: 1px solid $gray-200;
            color: $gray-800;

            @include typography(14px, 400, 20px, 0, left);
          }
        }
      }
    }

    .table__empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 24px;
      color: $gray-700;

      svg {
        width: 70px;
        height: 70px;

        margin-bottom: 16px;
      }
    }
  }
}
